$def with(report_list)
$var title: Nodemon Web Interface

<ul>
$for report in report_list:
	<li class="node alive-$report['alive']">$report['nodename'] <span>$report['external-ip']</span> <span>Last seen at $report['last-seen']</span>
		$for group in report['groups']:
			<ul>
				$if group['group'] == 'folder':
					<li class="folder">$group['title']
						<ul>
							$for signal in group['signals']:
								<li class="folder-signal signal-status-$signal['status']">$signal['title'] (last update: $signal['last-update'])</li>
						</ul>
					</li>
				$if group['group'] == 'faillog':
					<li class="faillog">$group['title']
						<ul>
							$for fail in group['fails']:
								<li class="faillog-fail">$fail['file']<div><pre>$fail['tail']</pre></div></li>
						</ul>
					</li>								
				$if group['group'] == 'process':
					<li class="process">$group['title']
						<ul>
							$for ps_title, ps_pattern, ps_active in group['processes']:
								<li class="process-$ps_active">$ps_title</li>
						</ul>
					</li>	
				$if group['group'] == 'charts':
					<li class="charts">$group['title']
						<ul>
							$for chart in group['charts']:
								<li class="chart-link"><a href="/chart/$chart['id']/">$chart['title']</a> (
									$for i in range(5): 
										$if i < len(chart['values']):  
											$chart['values'][-1 - i]
											$if not loop.last:,
								)</li>
						</ul>
					</li>			
			</ul>				
	</li>
</ul>